@charset "utf-8";

.1{

background-color:orange;
padding-right:5px;
margin-left:5px;
}

.HeadXxDIV{
width:20px;
background-color:white;
padding-top:15px;
padding-bottom:15px;
color:white;
position:absolute;
left:101px;
}

.xDIV{
width:5px;
padding:5px 5px;
margin:20px 2px;

}


.HeadXxDIV2{
width:20px;
background-color:white;
padding-top:15px;
padding-bottom:15px;
color:white;
position:absolute;
left:123px;
}

.HeadXxDIV3{
width:20px;
background-color:#FF7F50;
padding-top:15px;
padding-bottom:15px;
color:#FF7F50;
position:absolute;
left:113px;
}

.HeadXxDIV4{
width:20px;
background-color:white;
padding-top:15px;
padding-bottom:15px;
color:white;
position:absolute;
left:145px;
}

.HeadXxDIV5{
width:20px;
background-color:white;
padding-top:15px;
padding-bottom:15px;
color:white;
position:absolute;
left:167px;
}

.HeadXxDIV6{
width:20px;
background-color:#FF7F50;
padding-top:15px;
padding-bottom:15px;
color:white;
position:absolute;
left:156px;
color:#FF7F50;
}

.HeadXxDIV7{
width:20px;
background-color:white;
padding-top:15px;
padding-bottom:15px;
color:white;
position:absolute;
left:189px;
}

.HeadXxDIV8{
width:20px;
background-color:white;
padding-top:15px;
padding-bottom:15px;
color:white;
position:absolute;
left:211px;
}

.HeadXxDIV9{
width:20px;
background-color:#FF7F50;
padding-top:15px;
padding-bottom:15px;
color:white;
position:absolute;
left:200px;
color:#FF7F50;
}


